@import 'vars';
@import 'global';
@import 'fonts';


// header
.header{
    background-color: #fff;
}
.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    
}
.header__text {
    margin-left: auto;
    margin-right: 50px;
    span {
        color: $red;
    }
}
.header__btn {
    padding: 4px;
    width: 72px;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    font-size: 12px;
}
.header__btn-login {
    background-color: $green;
}
.header__btn-register,
.header__btn-logout {
    background-color: $red;
    margin-left: 7px;
}
.header__menu {
    background-color: $bg;
}
.menu {
    display: flex;
    align-items: center;
    height: 60px;
}
.menu__list {
    li {
        display: inline-block;
        &+li {
            margin-left: 30px;
        }
    }
    a {
        color: #fff;
        font-size: 14px;
    }
}
.header__circle{
    display: none;
    &.active{
        display: block;
    }
    width: 34px;
    height: 34px;
    background-color: #f5f5f5;
    border-radius: 50%;
    position: relative;
    &::before{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #a0a0a0;
        font-size: 14px;
    }
    span{
        position: absolute;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        text-align: center;
        line-height: 19px;
        right: -7px;
        top: -7px;
        font-size: 11px;
        color: #fff;  
        @include f500;  
    }
}
.header__box{
    display: flex;
    align-items: center;
}
.notification{
    span{
        background-color: $yellow;
    }
}
.message{
    span{
        background-color: $tomato;
    }
}
.basket{
    margin-right: 20px;
    span{
        background-color: $green;
    }
}
.header__btn-login--off{
    display: none;
}
.header__btn-logout{
    display: none;
    &.header__btn-login--on{
        display: block;
    }
}
.user{
    margin-right: 25px;
    padding-right: 20px;
    position: relative;
    &::before{
        position: absolute;
        content: "\f107";
        font-family: 'icomoon';
        font-size: 16px;
        color: #707070;
        right: 0;
        top: 0;
    }
    &__inner{
       display: flex; 
       align-items: center;

    }
    &__img{
        margin-right: 15px;
        width: 34px;
        height: 34px;overflow: hidden;
        border-radius: 50%;
    }
    &__info{
        font-size: 14px;
        line-height: 24px;
    }
    &__name{
        @include f500;
        color: #222222;
    }
    &__money{
        color: $green;
        @include f700;
    }
}
.user__box,
.basket__box,
.notification__box,
.message__box{
    position: relative;
    height: 90px;
    margin-top: 40px;
    &:hover{
        .user__menu{
            height: auto;
            border: 1px solid rgb(204, 204, 204);
            padding: 20px;
            overflow: auto;
        }
    }
}
.user__menu{
    position: absolute;
    background-color: #fff;
    width: 158px;
    top: 69px;
    left: 20px;
    transition: all .3s;
    height: 0;
    overflow: hidden;
    padding: 0 20px;
    border: 0px ;
    a{
        font-size: 12px;
        color: #546e7a;
        margin-bottom: 15px; 
    }    
}
.basket__box,
.notification__box,
.message__box{
    margin-top: 55px;
    margin-left: 15px;

    &:hover{
        .header__circle::before{
            color: $bg;
        }
        .circle__menu{
            overflow: hidden;
            height: auto;
        }
        .circle__item{
            padding: 23px;
            border-width: 1px;
        }
    }
   
}
.circle__menu{
    position: absolute;
    top: 61px;
    border-top: 1px solid #e0e0e0;
    right: 0;
    height: 0;
    overflow: hidden;
    z-index: 1;
   
}
.circle__item{
    background-color: #fff;
    padding: 0 23px;
    border: 0px solid #e0e0e0;
    border-top: none;
    display: flex;
    align-items: center;
    width: 269px;
    position: relative;
    transition: all .3s;
    border-left-width: 1px;
    border-right-width: 1px;
    &::before{
        position: absolute;
        top: 27px;
        right: 28px;
        color: #b0bec5;
        font-size: 16px;
    }
}
.circle__img{
    margin-right: 15px;
}
.circle__info-name{
    @include f500;
    color: $bg
}
.circle__info-thema{
    color: $green
}
.circle__info-price{
    @include f500;
    color: #000;
    font-size: 16px;
}
.circle__info-data{
    font-size: 10px;
    color: #707070;
}
.basket__sum{
    padding: 16px 16px 12px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-top: none;
}
.basket__sum-title{
    display: flex;
    justify-content: space-between;
    padding-left: 13px;
    padding-right: 22px;
    margin-bottom: 15px;
    @include f700;
    font-size: 16px;
    color: $bg;
}
.basket__btn{
    color: #f4f6f5;
    @include f700;
    font-size: 14px;
    padding: 12px 5px;
    background-color: $green;
    text-align: center;
    width: 100px;
}
.basket__btn-checkout{
    width: 123px;
    margin-left: 6px;
    background-color: $red;
}

.notification__menu,
.message__menu{
    .circle__img{
        margin-right: 20px;
        width: 48px;
        height: 48px;
        border-radius: 50%;
    }
    .circle__info{
        line-height: 18px;
    }
    .circle__info-thema{
        font-size: 12px;
    }
    .circle__info-name{
        font-size: 12px;
    }
}
.icons-color::before{
    color: $tomato;
}
.header__btn-menu,
.menu__btn{
    display: none;
}
// popup header login


#modal{
    background-color: $green;
    max-width: 730px;
    width: 100%;
    padding: 90px 0px 100px;
    position: relative;
    &::before{
        position: absolute;
        top: 10px;
        right: 16px;
        content: "\f00d";
        font-family: 'icomoon';
        color: #fff;
    }
}
.login__title{
    text-transform: uppercase;
    color: #fff;
    font-size: 48px;
    @include f700;
    margin-bottom: 40px;
    text-align: center;
}
.login__wrapper{
    form{
        max-width: 400px;
        margin: 0 auto;
    }
    label{
        position: relative;
        &::before{
            position: absolute;
            font-family: 'icomoon';
            font-size: 14px;
            color: #fff;
            left: 18px;
            top: 9px;

        }

    }
    .login__label-name::before{
        content: "\f007";
    
    }
    .login__label-pass::before{
        content: "\f023";
        
    }
    input{
        height: 43px;
        margin-bottom: 8px;
        border: none;
        background-color: #76ae36;
        color: #fff;
        font-size: 14px;
        padding-left: 40px;
        padding-right: 15px;
        display: block;
        width: 100%;
        outline: none;
        &::placeholder{
            color: #fff;
            font-size: 14px;
        }
    }
    button{
        margin-top: 19px;
        color: #000;
        padding: 18px 0 16px;
        background-color: #fff;
        text-transform: uppercase;
        width: 140px;
        border: none;
        margin-right: 10px;
        @include f700;
        box-shadow: 0px 2px 2px 0px rgba(118, 174, 54, 0.75);
        cursor: pointer;
    }
    .creat-acc{
        margin-top: 19px;
        text-align: center;
        padding: 15px 0 15px 28px;
        width: 245px;
        background-color: #76ae36;
        color: #fff;
        font-size: 18px;
        position: relative;
        &::before{
            content: "\f044";
            font-family: 'icomoon';
            font-size: 18px;
            color: #fff;
            left: 35px;
            top: 15px;
            position: absolute;
            
        }
    }
    .lost-pass{
        display: block;
        margin-top: 20px;
        color: #fff;
        font-size: 18px;
    }
    
}
.fancybox-button svg{
    color: transparent;
}
  

// search

.search {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 533px;
    &.page-search {
        min-height: 230px;
        .search__inner {
            padding: 55px 0px 70px;
            &-text {
                margin-bottom: 20px;
            }
        }
    }
}
.search__inner {
    padding: 155px 0 100px;
    color: #fff;
    text-align: center;
    &-title {
        font-size: 48px;
        line-height: 72px;
        @include f700;
        margin-bottom: 10px;
    }
    &-text {
        margin-bottom: 50px;
        font-size: 20px;
        line-height: 30px;
        @include f500;
    }
    &-form {
        max-width: 670px;
        margin: 0 auto;
        position: relative;
        input {
            display: block;
            width: 100%;
            box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
            border-radius: 4px;
            height: 56px;
            border: none;
            font-size: 14px;
            @include f500;
            padding-left: 25px;
            padding-right: 60px;
            &::placeholder {
                color: #90a4ae;
                @include f500;
            }
        }
    }
    button {
        position: absolute;
        border: none;
        background-color: transparent;
        right: 20px;
        top: 16px;
        cursor: pointer;
    }
}

// products

.products {
    padding: 110px 0;
    background-color: $grey;
}
.products__inner-btn {
    text-align: center;
    margin-bottom: 60px;
    button {
        padding: 12px 21px;
        border: none;
        background-color: #fff;
        color: $bg;
        cursor: pointer;
        &+button {
            margin-left: 5px;
        }
        &.mixitup-control-active {
            background-color: $red;
            color: #fff;
        }
    }

}
.products__inner-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product__item {
    max-width: 442px;
    width: 100%;
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
    margin-bottom: 30px;
    &-img {
        min-height: 250px;
        background-repeat: no-repeat;
        display: block;
        background-position: center;
        background-size: cover;
    }
    &-content {
        display: flex;
        justify-content: space-between;
        padding: 10px 30px;
        min-height: 90px;
        align-items: center;
        @include f500;
        border-bottom: 1px solid #e7ecf2;
    }
    &-name {
        max-width: 310px;
    }
    &-title {
        color: $bg;
        font-size: 18px;
        display: block;
    }
    &-category {
        display: block;
        font-size: 14px;
        color: $green;
    }
    &-price {
        font-size: 20px;
        color: $bg;
        @include f700;
    }
    &-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 70px;
        padding: 10px 30px;
    }
    &-autor {
        display: flex;
        align-items: center;
        max-width: 250px;
        .avatar {
            min-width: 30px;
            height: 30px;
            border-radius: 50%;
            background-position: center;
            display: inline-block;
            background-repeat: no-repeat;
            background-size: cover;
            margin-right: 14px;
        }
        span {
            font-size: 14px;
            @include f500;
        }
    }
    &-star {
        span {
            color: $bg;
            font-size: 12px;
        }
    }
}
.products__bottom-btn {
    text-align: center;
    button {
        margin: 45px 5px 0;
        box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
        border: none;
        cursor: pointer;
        background-color: #fff;
        color: $bg;
        padding: 20px 30px;
        &.mixitup-control-active {
            background-color: $red;
            color: #fff;
        }
    }
}

// slider

.product__slider {
    padding: 110px 0 120px;
    .slick-dots {
        text-align: center;
        margin-top: 50px;
        li {
            display: inline-block;
            margin-left: 3px;
            margin-right: 3px;
            button {
                background-color: rgb(232, 232, 232);
                border-radius: 50%;
                border: none;
                font-size: 0;
                width: 16px;
                height: 16px;
                cursor: pointer;
            }
            &.slick-active {
                button {
                    background-color: $green;
                }
            }
        }
    }
}

// Advantages

.advanteges {
    padding: 110px 0;
    background-color: $bg;
}
.advanteges__title {
    color: #fff;
}
.advanteges__inner {
    display: flex;
    justify-content: space-between;
}
.advanteges__item {
    max-width: 370px;
    text-align: center;
    padding: 0 15px;
    &:hover {
        .advanteges__item-img {
            background-color: $green;
            svg {
                fill: #fff;
            }
        }
        .advanteges__item-title {
            color: $green;
        }
    }
    &-img {
        width: 114px;
        height: 114px;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto 30px;
        transition: all .3s;
    }
    &-title {
        margin-bottom: 25px;
        color: #fff;
        @include f500;
        font-size: 24px;
        transition: all .3s;
    }
    &-text {
        font-size: 15px;
        color: #b0bec5;
    }
}
.iconsvg-1 {
    svg {
        width: 80px;
        transition: all .3s;
        margin-bottom: 5px;
    }
}
.iconsvg-2 {
    svg {
        width: 80px;
        transition: all .3s;
        margin-bottom: 5px;
        height: 100%;
    }
}
.iconsvg-3 {
    svg {
        width: 80px;
        transition: all .3s;
        margin-top: 10px;
    }
}

// Author

.author {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
    &__box {
        max-width: 650px;
        width: 100%;
        min-height: 215px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $green;
    }
    &__title {
        font-size: 30px;
        line-height: 36px;
        color: #fff;
        margin-right: 45px;
        max-width: 262px;
        span {
            @include f700;
        }
    }
    &__link {
        font-size: 18px;
        line-height: 36px;
        padding: 14px 40px;
        background-color: #fff;
    }
}

// Tutorial

.tutorial {
    padding: 70px 0 155px;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        max-width: 370px;
        width: 100%;
    }
}
.tutorial__item {
    &-img {
        min-height: 270px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    &-title {
        font-size: 24px;
        @include f700;
        background-color: #f8f8f8;
        padding: 30px 10px;
        color: $bg;
        text-align: center;
    }
}

// Footer

.footer {
    background-color: $bg;
    &__inner {
        display: flex;
        justify-content: space-between;
        padding: 100px 0 80px;
    }
}
.footer__col {
    max-width: 270px;
    width: 100%;
    &-menu {
        max-width: 220px;
    }
    &-title {
        font-size: 22px;
        font-weight: 700;
        font-family: 'Raleway', sans-serif;
        color: #fff;
        padding-bottom: 30px;
        margin-bottom: 30px;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 2px;
            width: 51px;
            height: 3px;
            background-color: $green;
        }
    }
    &-text {
        color: #b7c3c8;
        margin-bottom: 30px;
    }
}
.footer__info {
    margin-top: 18px;
    color: #fff;
    @include f500;
    padding-left: 30px;
    position: relative;
    &::before {
        content: "\f041";
        font-family: 'icomoon';
        color: $green;
        font-size: 18px;
        position: absolute;
        left: 0;
    }
}
.footer__info-phone {
    &::before {
        content: "\f095";
    }
}
.footer__col-list {
    a {
        color: #b7c3c8;
        margin-bottom: 15px;
        padding-left: 22px;
        position: relative;
        &::before {
            content: "\f054";
            font-family: 'icomoon';
            color: $green;
            font-size: 18px;
            position: absolute;
            left: 0;
        }
    }
}
.footer__social-link {
    margin-bottom: 33px;
    a {
        width: 28px;
        height: 28px;
        background-image: url('../images/content/css_sprites.png');
    }
    li {
        display: inline-block;
        &+li {
            margin-left: 7px;
        }
    }
}
.link-twitter {
    background-position: -28px 0;
}
.link-youtube {
    background-position: 0 28px;
}
.link-pinterest {
    background-position: -28px -28px;
}
.link-linkedin {
    background-position: -56px 0;
}
.footer__form-title {
    margin-bottom: 15px;
    color: #fff;
    font-size: 20px;
}
.footer__form {
    position: relative;
    input {
        border: none;
        background-color: #2f3c43;
        display: block;
        height: 40px;
        width: 100%;
        color: #fff;
        font-size: 14px;
        padding-left: 13px;
        padding-right: 50px;
        &::placeholder {
            color: #697378;
        }
    }
    button {
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: $green;
        border: none;
        height: 40px;
        width: 43px;
        cursor: pointer;
        &::before {
            content: "\f124";
            font-family: 'icomoon';
            color: #fff;
            font-size: 18px;
            position: absolute;
            left: 13px;
            top: 11px;
        }
    }
}
.footer__copy {
    border-top: 1px solid #424d53;
    padding: 25px 0;
}
.footer__copy-text {
    text-align: center;
    font-size: 15px;
    color: #919699;
}

// dropuct-page

.product-page__inner {
    display: flex;
}
.product-page__aside {
    margin-right: 30px;
}
.aside__item {
    background-color: #fff;
    border: 1px solid #dfdfdf;
    padding: 0px 32px 32px;
    margin-bottom: 30px;
    width: 270px;
}
.aside__title {
    border-bottom: 1px solid #dde3e8;
    color: $bg;
    font-size: 20px;
    @include f700;
    padding-top: 25px;
    padding-bottom: 22px;
}
.category__list {
    padding-top: 10px;
    li {
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        padding-left: 20px;
        position: relative;
        &::before {
            content: "\f105";
            font-family: 'icomoon';
            color: $green;
            font-size: 18px;
            position: absolute;
            left: 0;
        }
    }
    a {
        color: $bg;
    }
    span {
        color: #90a4ae;
        margin-left: 10px;
    }
}
.price-range {
    form {
        padding-top: 20px;
        padding-bottom: 25px;
    }
    button {
        margin-top: 55px;
        background-color: $green;
        padding: 20px 15px;
        text-align: center;
        color: #fff;
        @include f500;
        border: none;
        width: 100%;
        display: block;
        cursor: pointer;
        position: relative;
        &::before {
            content: '\f002';
            position: absolute;
            font-family: 'icomoon';
            color: #fff;
            font-size: 18px;
            left: 55px;
            top: 15px;
        }
    }
}
.irs-min,
.irs-max {
    display: none;
}
.irs--flat .irs-line {
    background-color: #f2f5f8;
    height: 5px;
}
.irs--flat .irs-bar {
    background-color: $bg;
    height: 5px;
}
.irs--flat .irs-handle {
    width: 16px;
    height: 16px;
    border: 4px solid $green;
    background-color: #fff;
    border-radius: 50%;
    top: 19px;
}
.irs--flat .irs-handle>i:first-child {
    display: none;
}
.irs-from,
.irs-single,
.irs-to {
    top: 45px;
}
.irs--flat .irs-from:before,
.irs--flat .irs-single:before,
.irs--flat .irs-to:before {
    display: none;
}
.irs--flat .irs-from,
.irs--flat .irs-single,
.irs--flat .irs-to {
    color: #78909c;
    font-size: 15px;
    line-height: 1.333;
    text-shadow: none;
    padding: 0;
    background-color: transparent;
    border-radius: 0;
}
.product-page__aside {
    .product__item-img {
        min-height: 120px;
    }
    .product__item {
        box-shadow: none;
        padding-bottom: 30px;
        margin-bottom: 30px;
        border-bottom: 1px solid #dde3e8;
    }
    .product__item-content {
        padding: 0;
        border: none;
        min-height: 75px;
    }
    .product__item-info {
        padding: 0;
        min-height: 0;
    }
    .product__item-title {
        font-size: 16px;
    }
    .product__item-price {
        font-size: 16px;
    }
    .rote-stars {
        margin-right: 0;
        padding-right: 0;
    }
    .product__item-starnum {
        display: none;
    }
}
.aside__product-item {
    .product__item:last-child {
        border: none;
        padding-bottom: 0;
    }
    .product__item:first-child {
        margin-top: 25px;
    }
}
.top-sellers__link {
    padding: 16px 10px;
    display: block;
    background-color: $green;
    color: #fff;
    @include f500;
    text-align: center;
}
.product-page__inner {
    padding-bottom: 110px;
}
.product-page__content {
    width: 100%;
    .product__item {
        max-width: 270px;
        background-color: #fff;
        transition: all .5s;
        &:hover {
            box-shadow: 0px 16px 20px 0px rgba(216, 216, 216, 0.75);
        }
    }
    .product__item-img {
        min-height: 180px;
    }
    .product__item-content {
        padding: 10px 20px;
    }
    .product__item-title {
        font-size: 16px;
    }
    .product__item-info {
        min-height: 65px;
        padding: 10px 20px;
    }
    .rote-stars {
        margin-right: 5px;
    }
    .jq-ry-container {
        padding: 0;
    }
}
.product-page__filter {
    background-color: #fff;
    border: 1px solid #dfdfdf;
    padding: 0px 20px;
    margin-bottom: 30px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
        cursor: pointer;
        background-color: transparent;
        border: none;
        font-size: 16px;
        color: #90a4ae;
        &.active {
            color: $green;
        }
    }
    .icon-sort-amount-desc {
        font-size: 14px;
        color: #455a64;
    }
    .icon-sort {
        font-size: 18px;
        color: #707070;
    }
}
.product-page__filter-sort {
    color: #707070;
    font-size: 14px;
    display: flex;
    align-items: center;
}
.product-page__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.pagination__list {
    li {
        display: inline-block;
        &+li {
            margin-left: 6px;
        }
    }
    a,
    span {
        box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
        width: 43px;
        height: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        font-size: 16px;
        color: $bg;
        @include f500;
        cursor: pointer;
        &.active {
            background-color: $red;
            color: #fff;
        }
    }
}
.product__item-text {
    display: none;
}
.product__item-list {
    display: none;
    .icon-comment-o,
    .icon-heart-o{
        position: relative;
        padding-left: 50px;
        border-left: 1px solid #aeb4bb;
        display: inline-block;
        font-size: 12px;
        color: #70838d;
        span{
            @include f500;
            color: $bg;
        }
        &::before{
            font-size: 16px;
            color: $green;
            position: absolute;
            left: 20px;
            top: -2px;
        }
    }
    .icon-comment-o{
        padding-right: 30px;
    }
}
.product__item-price {
    span {
        display: none;
    }
}
.product__item {
    &.list {
        max-width: 100%;
        .product__item-img {
            width: 240px;
            float: left;
            min-height: 100%;
        }
        .product__item-text {
            display: block;
            font-size: 14px;
            color: #70838d;
            margin-top: 15px;
            margin-bottom: 5px;
        }
        .product__item-price {
            font-size: 30px;
            span {
                display: block;
                font-size: 13px;
                color: #aeb4bb;
                margin-top: 30px;
            }
        }
        .product__item-name {
            max-width: 480px;
        }
        .product__item-content {
            padding-top: 23px;
        }
        .product__item-list {
            display: block;
        }
        .product__item-star{
            margin-left: auto;
            margin-right: 30px;
        }
    }
}

// product one

.product-one{
    padding-bottom: 100px;
    background-color: $grey;
}
.product-one__inner{
    display: flex;
   
}
.product-one__content{
    margin-right: 31px;
    max-width: 870px;
}
.product-one__img{
    max-width: 829px;
    width: 100%;
    height: 422px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.product-one__img-inner{
    background-color: #fff;
    border: 1px solid #dfdfdf;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}
.product-one__title{
    font-size: 30px;
    color: $bg;
    @include f500;
    margin-top: 30px;
    margin-bottom: 20px;
}
.product-one__text{
    font-size: 16px;
    color: #707070;
    margin-bottom: 35px;
    margin-top: 20px;
}
.product-one__box{
    margin-bottom: 55px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.product-one__link{
    a{
        font-size: 14px;
        color: $grey;
        padding: 16px 8px;
        width: 150px;
        &+a{
            margin-left: 20px;
        }
    }
}
.link-live{
    background-color: $red;
}
.link-screenshot{
    background-color: #455a64;
}
.link-document{
    background-color: $green
}
.product-one__social{
    a{
        width: 54px;
        height: 50px;
        position: relative;
        &+a{
            margin-left: 3px;
        }
        &::before{
            color: #fff;
            font-size: 18px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            
        }
    }
    
}
.icon-facebook{
    background-color: #6370b6;
}
.icon-twitter{
    background-color: #64b5f6;
}
.icon-linkedin{
    background-color: #4f71ce;
}
.icon-pinterest-p{
    background-color: #d32f2f;
}
.product-one__more-title{
    font-size: 18px;
    @include f500;
    color: $bg;
    padding: 18px 25px;
    background-color: #fff;
    border: 1px solid #dfdfdf;
    margin-bottom: 28px;
}

.tabs{
    display: flex;
    text-align: center;
    border: 1px solid #dfdfdf;
    .tab{
        width: 100%;
        background-color: #fff;
        font-size: 16px;
        color: #70838d;
        padding: 20px 0;
        cursor: pointer;
        &+.tab{
            border-left: 1px solid #dfdfdf;
        }
        &.active{
            border-bottom: 3px solid $green;
        }
    }
}
.tab_content{
    background-color: #fff;
    border: 1px solid #dfdfdf;
    border-top: none;
    padding: 30px 30px 50px;
}
.tab-item{
    display: none;
    &:first-child{
        display: block;
    }
}
.tab-item__list{
    line-height: 36px;
    font-size: 16px;
    color: #707070;
    column-count: 2;
    column-gap: 25px;
    li{
        max-width: 270px;
        width: 100%;
    }
    
}


.product-one__more{
    margin-top: 55px;
}

.product-one__more-icons{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.productmini{
    margin-bottom: 27px;
    display: flex;height: 90px;
    align-items: center;
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
    max-width: 270px;
    width: 100%;
    background-color: #fff;
}
.productmini__img{
    width: 100px;
    height: 90px;
    margin-right: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.productmini__info-name{
    @include f500;
    font-size: 14px;
    color: $bg
}
.productmini__info-thema{
    color: $green;
    font-size: 12px;

}
.productmini__info-price{
    @include f700;
    font-size: 18px;
    color: $bg;
}


.price__box{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;

}
.price__product{
    font-size: 22px;
    @include f500;
    color: $red;
}
.product__price{
    button{
        margin-bottom: 7px;
        box-shadow: 0px 1px 2px 0px rgba(69, 90, 100, 0.75);
        border: none;
        background-color: $text;
        color: #fff;
        font-size: 16px;
        font-family: 'Roboto-Regular', sans-serif !important;
        font-weight: 700;
        text-align: center;
        display: block;
        width: 100%;
        padding: 17px 5px 15px;
        cursor: pointer;
        &::before{
            font-weight: 400;
            font-family: 'icomoon';
            margin-right: 7px;

        }
    }
    .icon-shopping-cart{
        background-color: $green;
       
    }
    .icon-heart-o{
        background-color: #42a5f5;
    }
}
.product-author__box{
    padding: 25px 0;
    display: flex;
    
}
.author__avatar{
    margin-right: 14px;
}
.author__name{
    font-size: 18px;
    color: $bg;
    margin-bottom: 2px;
}
.author__info-link{
    color: #707070;
    font-size: 13px;
    border: 1px solid #d6d6d6;
    padding: 6px 9px 5px;
}

.author__awords-list{
    li{
        position: relative;
        text-align: center;
        display: inline-block;
        &+li{
            margin-left: 4px;
        }
        &::before{
            color: #fff;
            font-size: 20px;
            position: absolute;
            top: 6px;
            left: 0;
            right: 0;
        }
    }
}
.icon-meh-o{
    background-image: url('../images/01.png');
    width: 34px;
    height: 37px;    
}
.icon-pagelines{
    background-image: url('../images/02.png');
    width: 34px;
    height: 37px;
}
.icon-bolt{
    background-image: url('../images/03.png');
    width: 34px;
    height: 37px;
}
.icon-foursquare{
    background-image: url('../images/04.png');
    width: 34px;
    height: 37px;
}
.icon-cny{
    background-image: url('../images/05.png');
    width: 34px;
    height: 37px;
}
.aside__item-sales{
    padding-top: 23px;
    font-size: 16px;
    &::before{
        content: "\f07a";
        font-family: 'icomoon';
        color: #a6b5bb;
        padding-right: 20px;
        font-size: 20px;
    }
    span{
        font-size: 20px;
        color: $bg;
        @include f700;
        margin-right: 10px;
        
    }
}
.aside__item.sales-number{
    padding-bottom: 25px;
}

.information__line{
    font-size: 14px;
    color: #70838d;
    margin-top: 20px;
    line-height: 18px;
    span{
        color: $bg;
        @include f500;
    }
}

// 404
.page-404{
    background-color: $grey;
}
.page-404__wrapper,
.about__wripper{
    border: 1px solid #dcdcdc;
    background-color: #fff;
    margin-bottom: 150px;
}
.page-404__head,
.about__head{
    font-size: 24px;
    color: #444444;
    @include f500;
    padding: 23px 27px;
    border-bottom: 1px solid #dcdcdc;
}
.page-404__inner{
    background-color: $green;
    text-align: center;
    color: #fff;
}
.page-404__404{
    font-size: 300px;
    line-height: 300px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: #fff;
    padding-top: 70px;
    padding-bottom: 20px;
    position: relative;
    &::after{
        content: "";
        position: absolute;
        background-image: url('../images/man.png');
        width: 157px;
        height: 301px;
        margin-left: 20px;
    }
}
.page-404__title{
    margin-bottom: 30px;
    font-size: 30px;
    color: #fff;

}
.page-404__text{
    font-size: 18px;
    max-width: 520px;
    margin: 0 auto;
    margin-bottom: 60px;

}
.page-404__link{
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #fff;
    border-radius: 4px;
    padding: 20px 30px 16px;
    margin-bottom: 100px;
}

// about

.about{
    background-color: $grey;
}
.about__inner{
    padding: 0px 50px;
}
.about_box{
    h3{
        color: #444444;
        font-size: 20px;
        @include f700;
        margin-top: 40px;
        margin-bottom: 15px;
    }
    p{
        color: #707070;
        margin-bottom: 40px;
    }
}

@import 'media';